*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
}

:root{
    font-size: 1rem;
}


/*Navbar*/
.navbar{
    background: #6F6AF7;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 4rem;
    position: fixed;
    width: -webkit-fill-available;
    /* position: sticky; */
    /* top: 0px; */
    z-index: 9999;
}

.logo{
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    font-family: 'Delius Unicase', cursive;
    flex-grow: 0.2;
}

.middle{
    display: flex;
    align-items: center;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem;
}

#moreIcon{
    
    position: relative;
    width: 0.5rem;
    transform: translate(-0.2rem, -0.2rem);
}

/* .searchBar{
    display: flex;
    align-items: center;
} */

#searchBox{
    border-radius: 3.9375rem;
    border: none;
    color: #9F9F9F;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.3rem 1rem;
    margin-left: 2rem;
}

#searchIcon{
    position: relative;
    width: 1rem;
    transform: translate(-1.7rem,0);
}

.menuBar{
    transform: scale(0.5);
}


/*Social Media Icons*/
#socialmediaIcons{
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    height: 150%;
    text-align: right;
}


.socialmediaIcons{
    position: sticky;
}

.socialmediaIcons>*{
    width: 3rem;
    height: 3rem;
}

#whatsapp{
    top: 4.2rem;
}
#whatsapp img{
    border: 2px solid black;
    padding: 0.13rem;
    border-radius: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

#facebook{
    top: 7.5rem;
}

#twitter{
    top: 10.8rem;
}

/*Body*/

/*Container1*/
.body{
    /* border: 1px solid black; */
    margin: 0 4rem;
    padding: 8rem 0;

}


.container1{
    display: flex;
    /* margin: 10rem 8rem;  */
    margin-bottom: 4.5rem; 
}

.image{
    padding: 0.5rem;
}

#image{
    border-radius: 1.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: 3px 5px 30px 10px rgba(0, 0, 0, 0.25);
    background: lightgray 50%;
    width: 100%;
    height: 100%;
}

.text{
    background-color: #E5D8FF;
    color: #6F7373;
    font-family: 'DM Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 178.7%;
    padding: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
    border-radius: 1.25rem;
    border: 6px solid #FFF;
    box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
    flex-grow: 1;
}


/*Container2*/

.container2{
    display: flex;
    justify-content: space-between;
}

.container2>*{
    border-radius: 0.6875rem;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: 178.7%;
    letter-spacing: 0.0725rem;
    padding: 1rem 6rem 1rem 2rem;
}

.quetions{
    background: #929DFF;
}

.answered{
    background: #734CF2;
}

.participated{
    background: #D288FF;
}

.passed{
    background: #000000;
}


/*Container3*/

.container3{
    border-radius: 0.65125rem;
    background: #483EFF;
    display: flex;
    padding: 1rem;
    margin-top: 6rem;
}

.optionButtons{
    display: flex;
    flex-direction: column;
}

.optionButtons>*{
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    letter-spacing: 0.0875rem;
    padding: 1rem 3rem;
    border-radius: 0.625rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
}

.selected{
    background: #BCE0F6;
    color: #000000;
    border: 5px solid #BCE0F6;
}

.unselected{
    background: #483EFF;
    color: #FFF;
    border: 2.5px solid #fff;
}

.buttonContent{
    background: #fff;
    border-radius: 0.6875rem;
    padding: 2rem 1.5rem 1rem 2.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.buttonContent h2{
    color: #04285A;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.14938rem;
}

table{
    margin: 0.75rem 0 0 1rem;
}

td{
    padding: 0.6rem 0rem 0.45rem 0rem; 
}

.dataType{
    color: #04285A;
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.09375rem;
}



.colon{
    color: #04285A;
    font-family: 'Roboto';
    font-size: 0.825rem;
    font-style: normal;
    font-weight: 500;
    line-height: 78.687%;
    letter-spacing: 0.08063rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.data{
    color: #143565;
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.035rem;
}

#nextButton{
    border-radius: 0.5625rem;
    background: #000;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04875rem;
    padding: 0.75rem 2rem;
    margin-left: auto;
    margin-top: auto;
    display: flex;
}

#nextArrow{
    transform: scale(0.5);
}

/*Sticky icons*/

.helpIcon{
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#helpIcon{
    transform: scale(0.5);
}



